*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  

}

.search {
  min-height:10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(31, 31, 231, 0.2);
  margin-bottom: 100px;
}

input,button {
  padding:0.5rem  1rem;
  margin-left: 10px;
  font-size: 1rem;
}
